body{
    front-family: Arial;
    background-color:rgb(253, 236, 253);
    color:black
    line-height:1.7;
}
header{
    background-color:rgb(251, 179, 243);
    padding:5px 5px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
nav{
    display:flex;
    gap:15px;
}
nav a{
    text-decoration:none;
    color:black;
}
main{
    padding:20px;
}
section{
    margin-bottom:60px;
}
h1{
font-size:32px;
}
h2{
    margin-bottom:15px;
    color:black;
}
#about{
    margin-bottom:15px;
}
.project-grid{
    display:grid;
    gap:4px;
}
.card{
    background-color:rgb(243, 149, 229);
    border-radius:15px;
}
form{
    gap:15px;
    margin-bottom:15px;
}
input,textarea,button{
    padding:15px;
    border:1px;
    border-radius:8px;
}

button{
    background-color: rgb(238, 71, 227);
    color:white;
    border:none;
    cursor:pointer;
    
}
footer{
    background-color:rgb(251, 179, 243);
    text-align:center;
    padding:10px 10px;
}